
<h1>Edit</h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<form class="" action='/users/<%= @user.id %>' method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <label for="">Name:</label>
  <input type="text" name="users[name]" id="name" value="<%= @user.name %>">
  <label for="">Email:</label>
  <input type="text" name="users[email]" id="email" value="<%= @user.email %>">
  <label for="">Password:</label>
  <input type="text" name="users[password]" id="password">
  <label for="">Password Confirmation</label>
  <input type="text" name="users[password_confirmation]" id="password_confirmation">
  <input type="submit" name="join" value="Update">
</form>

<%= link_to "Delete Account", users_destroy_path(@user.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>
