<h1><%= @user.name %></h1>

<%= link_to "Edit Profile", users_edit_path(@user.id) %>
<%= link_to "Delete Account", users_destroy_path, data: { :confirm => "Are you sure?"} %>
<form class="" action="<%= secrets_create_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">New Secret</label>
  <textarea name="secret[content]" rows="8" cols="80"></textarea>
  <input type="submit" name="submit" value="Create Secret">
</form>

<h3>Secrets</h3>
<% @secrets.each do |secret| %>
  <% # Secret Content that everyone can see %>
  <table>
    <tr>
      <td><%= secret.content %></td>
    </tr>
    <tr>
      <td>future number of likes</td>
      <td>
    <% if current_user == secret.user %>
      <% # Secret Content that only the User that created that secret can see. %>
      <%= link_to "Delete Secret", secrets_destroy_path(secret.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>
    <% end %></td>
    </tr>
  </table>
<% end %>
