<h1>Secrets#index</h1>

<% @secrets.each do |secret| %>
  <% # Secret Content that everyone can see %>
  <p><%= secret.content %></p>
  <h3><%= secret.likes.count %> likes</h3>
  <% if current_user == secret.user %>
    <% # Secret Content that only the User that created that secret can see. %>
    <%= link_to "Delete", secrets_destroy_path(secret.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>
  <% end %>
  <% unless secret.likes == current_user %>

  <form action = "/likes" method = "post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="like[secret_id]" value = "<%= secret.id %>">
    <input type="submit" name="Like" value = "Like">
  </form>
  <% else %>
    <form action = "/likes/<%= Like.where(user: current_user, secret: secret).first.id%>" method = "post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="Unlike" value = "Unlike">
    </form>
  <% end %>

<% end %>
