<h1>New Student</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>
<% end %>

  <form class="" action="/dojos/<%= params[:dojo_id] %>/students" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
      <tr>
        <td>First Name:</td>
        <td><input type="text" name="students[first_name]" value=""></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" name="students[last_name]" value=""></td>
      </tr>
      <tr>
        <td>Email Address:</td>
        <td><input type="text" name="students[email]" value=""></td>
      </tr>
      <tr>
        <td>Dojo:</td>
        <td><select class="" name="students[dojo_id]">
          <% Dojo.all.each do | location | %>
            <<option value="<%= location[:id] %>"><%= location[:city] %></option>
          <% end %>
        </select></td>
      </tr>
    </table>
    <input type="submit" name="submit" value="Submit">
  </form>

  <a href="/">Home</a>
  <a href="/dojos/<%=@thisDojo[:id]%>"><%= @thisDojo[:branch] %> </a>
